﻿@using Kendo.Mvc.UI
@model TaskManagerCore.Models.TaskModel
@{
    ViewBag.Title = "Добавление задачи";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Тема</label>
        <textarea cols="50" asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Предполагаемое время на задачу</label>
        @(Html.Kendo().TimePickerFor(x => x.Time).Animation(true))
    </div>
    <input type="submit" class="btn btn-success"/>
</form>