﻿@model TaskManagerCore.Models.TaskModel
@{
    ViewBag.Title = Model.Name;
}
<h2>Смартфон @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Производитель</dt>
        <dd>@Model.Description</dd>

        <dt>Цена</dt>
        <dd>@Model.Name</dd>
    </dl>
</div>