﻿@model TaskManagerCore.Models.TaskModel
@{
    ViewBag.Title = "Добавление задачи";
}
<form asp-action="create" asp-controller="home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Тема</label>
        <textarea cols="50" asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>