﻿@model IEnumerable<TaskManagerCore.Models.TaskModel>
@{
    ViewBag.Title = "Все задачи";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body" style="display: initial">
                    <div class="card-buttons pull-right form-inline">
                        <p>
                            <a class="btn btn-default" title="Удалить" onclick="deleteEntity(@item.Id)">
                                <span class="glyphicon glyphicon-remove" style="color: red"></span>
                            </a>
                            <a class="btn btn-default" title="Удалить" onclick="setTime()">
                                <span class="glyphicon glyphicon-save" style="color: red"></span>
                            </a>

                            <a href="@Url.Action("Edit","Home", new{id= item.Id})" class="btn btn-default" type="submit" title="Редактировать">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <div class="pull-right" id="timer">0</div>
                            <button class="bnt btn-default" onclick="startTimer()">Time</button>
                        </p>
                    </div>
                    <h3 class="card-header-text">@item.Name</h3>
                    <hr />
                    <p class="card-text" style="white-space: pre-line">
                        @{
                            var rows = item.Description.Split("\n");
                            if (rows.Length > 5)
                            {
                                for (int i = 0; i < 5; i++)
                                {
                                    Write(rows[i] + Environment.NewLine);
                                }
                                <a asp-action="Details" asp-route-id="@item.Id" class="pull-right"> Подробнее</a>
                            }
                            else
                            {
                                @item.Description
                            }
                        }
                    </p>
                </div>
            </div>

        </div>
        <script>
        var timer = 1000;
        var hour = 0;
        var minute = 0;
        var second = 0;
        var dataObject = JSON.stringify(
            {
                task: {
                    'Id': @item.Id,
                    'Name': '@item.Name',
                    'Description': '@item.Description',
                    'Time': null
                }
            });
        function startTimer() {
            if (timer >= 0) {
                window.setInterval(function(){
                    ++timer;
                    hour   = Math.floor(timer / 3600);
                    minute = Math.floor((timer - hour * 3600) / 60);
                    second = timer - hour * 3600 - minute * 60;
                    if (hour < 10) hour = '0' + hour;
                    if (minute < 10) minute = '0' + minute;
                    if (second < 10) second = '0' + second;
                    $('#timer').html(hour + ':' + minute + ':' + second);
                }, 1000);
            }

        }
            function setTime() {
                var timerValue = timer;
                $.post("@Url.Action("setTime")", { data: timer, id: @item.Id});
        }
        </script>
    </div>
}
